/*========================*/
/*======= Contacto =======*/
/*========================*/

.main__contacto {
    display: grid;
    grid-row-gap: 40px;
}

.main__contactoMapa{
    display: inline-block;
    max-width: 100%;
    box-shadow: 10px 10px;
}

.main__formContacto{
    display: flex;
    flex-direction: column;
    align-items: space-evenly;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 20px;
    padding: 10px;
    background-color: rgb(215, 223, 253);
    border-radius: 25px;
    margin-bottom: 25px;
    box-shadow: 10px 10px;
    row-gap: 20px;
}

.main__formContacto__botones {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.main__formContacto button {
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
}