/*========================*/
/*========= Pie ==========*/
/*========================*/

.pie__formNews{
    display:flex;
    @include mixin_prueba(40px, 25px, #add3b8);
    padding: 30px 0px 30px 0px;
    width: 100%;
    justify-content: center;
}

.pie__nav{
    display: grid;
    @include mixin_prueba(25px, 20px, #97a5d3);
    grid-template-columns: 1fr 4fr 1fr;
    padding: 20px 0px 20px 0px;
}

.pie__menu{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 70%;
    list-style:none;
    text-align: left;

    & a{
        text-decoration: none;
        color: white;
    }
    
    & a:hover{
        text-decoration:underline;
        color: rgb(26, 7, 107);
    }
}

.pie__logosSociales {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    font-size: 1.5em;
}

.pie__logos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.pie__logo{
    display: inline-block;
    max-width: 100px;
}

.pie__wfx{
    color: rgb(238, 238, 238);
}

@media screen and (max-width: 500px) {
    .pie__nav{
        grid-template-columns: 1fr;
        width: 100%;
    }

    .pie__logosSociales {
        display: flex;
        flex-direction: row;
        align-items:center;
        justify-content: center;
        font-size: 1.3em;
        margin: 20px 0px 20px 0px;
    }

    .pie__logos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 0px;
    }

    .pie__wfx{
        color: rgb(238, 238, 238);
    }

    .pie__menu{
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        height: 100%;
        width: 100%;
        list-style:none;
        text-align: center;
        padding: 0px;
    }
}