/*========================*/
/*========= Pie ==========*/
/*========================*/

.pie__formNews{
    display:flex;
    margin-top: 40px;
    padding: 30px 0px 30px 0px;
    width: 100%;
    background-color: rgb(173, 211, 184);
    justify-content: center;
    border-radius: 25px;
}

.pie__nav{
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: rgb(151, 165, 211);
    margin-top: 20px;
    border-radius: 20px;
    margin-top: 20px;
    padding: 20px 0px 20px 0px;
}

.pie__menu{
    display: flex;
    flex-direction: column;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
    width: 70%;
    list-style:none;
    text-align: left;
}

.pie__menu a{
    text-decoration: none;
    color: white;
}

.pie__menu a:hover{
    text-decoration:underline;
    color: rgb(26, 7, 107);
}

.pie__logos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
}

.pie__logo{
    display: inline-block;
    max-width: 100px;
}

.pie__wfx{
    color: rgb(238, 238, 238);
}