
/*========================*/
/*====== Encabezado ======*/
/*========================*/

@keyframes rotacion_tuerca{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}

.header__logo{
    width: 100%;
    filter:invert(1);
    max-width: 100px;
    animation-name: rotacion_tuerca;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-delay: 0s;
}