/*========================*/
/*========= Main =========*/
/*========================*/

.main{
    margin-top: 15px;
    color: black;
    margin-left: auto;
    margin-right: auto;

    &__hero{
        width: 100%;
        text-align: center;
        filter:sepia();
        border-radius: 5px;
    }

    &__titulo{
        font-size: 2em;
        margin-top: 20px;
        text-align: center;
    }
}
